# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Keep files which filenames have no extenion
!Dockerfile

# Keep files which filenames have no extenion
!.goreleaser.yml 

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.sm`
*.exe
*.dll
*.so
*.dylib
*.log*
*.db
*.bak
*.dmp
*.tmp
*.class
*.sm
*.out
*.1
*.2
*.3
*.4
*.5
*.p12

.glide
.idea
.vscode
.rnd
dist
debug
bin
target
